[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
jupyter = "*"
pyyaml = "*"
jupyterlab = "*"
notedown = "*"
"beautifulsoup4" = "*"
rise = "*"

[dev-packages]

[requires]
python_version = "3.6"
